body {
  font-size: 1rem;
  font-family: Lato, sans-serif;
  color: #222324;
  line-height: 1.6;
  background-color: #fff;
}

input{
	margin-left: 25%;
	width: 200px;
	height: 25px;
	padding-left: 7px;
}
.fname{
	margin-left: 17%;
	
}
.sname{
	margin-left: 15.3%;
	color: green;
}
.sbtn{
	margin-left: 20%;
	width: 150px;
	height: 30px;
	background: green;
	border:none;
	border-radius: 5px;
}
.email{
	margin-left: 20%;
}
.password{
	margin-left: 17.7%;
}
input:invalid{
	border: 2px  solid red;
	}
input:valid{
	border: 2px  solid purple;
	}
